.more {
  padding-top: 15px;
  padding-bottom: 15px;
}

.projects {
  font-size: 15px;
  text-align: center;
  vertical-align: middle;
}

.descr {
  font-size: 14px;
}


img {
  padding-bottom: 10px;
}
