<nav class="nav nav-pills flex-column flex-sm-row sgrid-N">
  <div>
    +7 (812) 407-30-90 <br />
    СПб, ул. Боровая, 112Б
  </div>

  <div class="mx-auto mar">


  </div>

  <div>
    В социальных сетях <br />

        <a target="_blank" href="https://vk.com/club239781"> <img src="../../assets/img/vk.png" width="35" height="35"></a>

        <a target="_blank" href="https://www.facebook.com/Homeless.ru"><img src="../../assets/img/facebook.png" width="35" height="35"></a>

        <a target="_blank" href="https://www.instagram.com/nochlezhka/"><img src="../../assets/img/insta.png" width="35" height="35"></a>

        <a target="_blank" href="https://www.ok.ru/nochlezhka"><img src="../../assets/img/ok.png" width="35" height="35"></a>

  </div>
</nav>
