<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Меню</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Главная <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Проекты
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Реабилитационный приют</a>
          <a class="dropdown-item" href="#">Ночной автобус</a>
          <a class="dropdown-item" href="#">Пункты обогрева</a>
          <a class="dropdown-item" href="#">Консультационная служба</a>
          <a class="dropdown-item" href="#">Дом на полдороги</a>
          <a class="dropdown-item" href="#">Культурная прачечная</a>
          <a class="dropdown-item" href="#">Делимся опытом</a>
          <a class="dropdown-item" href="#">Рассказываем о проблеме</a>
          <a class="dropdown-item" href="#">Волонтерство</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Наши акции</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Бездомным
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Социальная и юридическая помощь</a>
          <a class="dropdown-item" href="#">Поесть</a>
          <a class="dropdown-item" href="#">Помыться</a>
          <a class="dropdown-item" href="#">Получить вещи</a>
          <a class="dropdown-item" href="#">Переночевать</a>
          <a class="dropdown-item" href="#">Постирать вещи</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Волонтерам
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Заполнить анкету</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">О работе волонтерами</a>
          <a class="dropdown-item" href="#">Волонтеры</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">О ночлежке</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Контакты</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Поиск по сайту" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0 my-color" type="submit">Поиск</button>
    </form>
  </div>
</nav>
