<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Меню</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="" routerLinkActive="active">Главная </a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle"  id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          О фонде
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="/history" routerLinkActive="active">История и миссия</a>
          <a class="dropdown-item" routerLink="/friends" routerLinkActive="active">Друзья и партнеры</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLink="/requisites" routerLinkActive="active">Реквизиты</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/programms" routerLinkActive="active">Программы</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Волонтерам
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="/anketa" routerLinkActive="active">Заполнить анкету</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item"  routerLink="/about" routerLinkActive="active">О работе волонтерами</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link"  routerLink="/parents" routerLinkActive="active">Приемным родителям</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/contact" routerLinkActive="active">Контакты</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-0" type="search" placeholder="Поиск по сайту" aria-label="Search">
      <button class="btn btn-outline-success my-color" type="submit">Поиск</button>
    </form>
  </div>
</nav>
<router-outlet></router-outlet>