
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<div class="card col-md-11 mt-5 mb-5">
  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" data-interval="100000">
    <div class="float-right navi">
      <a class="" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon ico" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon ico" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    <div class="w-100 carousel-inner" role="listbox">
      <div class="carousel-item active">
        <div class="carousel-caption">
          <div class="row">
            <div class="col-md-3">
              <img src="../../assets/img/nikita.png" width="250px" alt="" class="rounded-circle img-fluid"/>
            </div>
            <div class="col-md-9">
              <h3>Никита</h3>
              Дата рождения: 30.03.2015 <br/><br/>
              Никита — открытый, ясный ребенок, он будто светится изнутри, и, глядя на его милую улыбку, все время хочется улыбаться в ответ. Любит булочки с изюмом. У Никиты много друзей, которые знают, что на него можно всегда положиться.
              <br/><br/>
              Цвет глаз: голубые<br/>

              Цвет волос: русые
              <br/>
              Возможные формы устройства: опека, усыновление
              <br/> <br/>
              Характер: дружелюбный, усидчивый, надёжный, скромный <br/>
              Интересы: рисование <br/> <br/>

              Группа здоровья: 2-ая группа здоровья<br/>
              Причина отсутствия родительского попечения матери: решение суда о лишении родительских прав матери<br/>
              Причина отсутствия родительского попечения отца: отец находится в заключении (под стражей)<br/>
              Братья или сёстры: нет
              <br/><br/>

              <img src="../../assets/img/pic1.jpg" width="520px">
              <br/>
              <i>Рисунок Никиты</i>
              <br/><br/>

            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="carousel-caption">
          <div class="row">
            <div class="col-md-3">
              <img src="../../assets/img/anastasia.png" width="250px" alt="" class="rounded-circle img-fluid"/>
            </div>
            <div class="col-md-9">
              <h3>Анастасия</h3>
              Дата рождения: 25.05.2014 <br/><br/>

              Настя — девочка доброжелательная, подвижная, самостоятельная, коммуникабельная. Не любит сидеть на месте. Быстро всему учится, не унывает если что-то не получается, не боится искать и экспериментировать.
              <br/><br/>

              Цвет глаз: зеленые <br/>
              Цвет волос: рыжие <br/>
              Возможные формы устройства: опека, усыновление
              <br/> <br/>
              Характер: общительная, весёлая, активная <br/>
              Интересы: народные танцы <br/> <br/>

              Группа здоровья: 2-ая группа здоровья<br/>
              Причина отсутствия родительского попечения матери: решение суда о лишении родительских прав матери <br/>
              Причина отсутствия родительского попечения отца: в графе "отец" свидетельства о рождении стоит прочерк <br/>
              Братья или сёстры: да<br/> <br/>

              <img src="../../assets/img/pic3.jpg" width="460px">
              <br/>
              <i>Настя на выступлении</i>
              <br/><br/>

            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="carousel-caption">
          <div class="row">
            <div class="col-md-3">
              <img src="../../assets/img/maria.png" width="250px" alt="" class="rounded-circle img-fluid"/>
            </div>
            <div class="col-md-9">
              <h3>Мария</h3>
              Дата рождения: 12.09.2014 <br/><br/>
              Маша — светлая девочка, очень добрая и аккуратная. Она всегда чем-то занята. Любит наводить порядок в игровой зоне, заправлять кровати, следить за младшими детьми. Легко идет на контакт к взрослым.
              <br/><br/>

              Цвет глаз: голубые<br/>
              Цвет волос: светло-русые<br/>
              Возможные формы устройства: опека, усыновление
              <br/> <br/>
              Характер: скромная, дружелюбная <br/>
              Интересы: спортивная гимнастика <br/> <br/>

              Группа здоровья: 2-ая группа здоровья<br/>
              Причина отсутствия родительского попечения матери: решение суда о лишении родительских прав матери<br/>
              Причина отсутствия родительского попечения отца: решение суда о лишении родительских прав отца<br/>
              Братья или сёстры: нет<br/> <br/>


              <img src="../../assets/img/pic2.jpg" width="520px">
              <br/>
              <i>Маша на занятиях по спортивной гимнастике</i>
              <br/><br/>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
