.back {
background-color: #6d9fb5;
}

.card {
  margin: 0 auto;
  padding: 5px;
}
.card .carousel-item {
  height: 800px;
}
.card .carousel-caption {
  padding: 0;
  right: 0;
  left: 0;
  color: #3d3d3d;
}
.card .carousel-caption h3 {
  color: #3d3d3d;
}
.card .carousel-caption p {
  line-height: 30px;
}
.card .carousel-caption .col-md-3 {
  display: flex;
  align-items: flex-start;
  height: 800px;
  top: 30px;
  left: 30px;
}
.card .carousel-caption .col-md-9 {
  padding: 20px;
  text-align: left;
  height: 800px;
}
.navi a {
  text-decoration:none;
}
a > .ico {
  background-color: grey;
  padding: 10px;

}
a:hover > .ico {
  background-color: #666;
}
