  <h1>
  МИССИЯ И ИСТОРИЯ
  </h1>
  <div>Содействовать решению проблем социального сиротства, обеспечить равные права на семью и детство для всех детей, живущих в нашей стране. Развивать идеи личной ответственности и личного участия каждого в созидании нашего общества. Способствовать развитию идей гражданской ответственности, активной жизненной позиции, милосердия, взаимопомощи, равенства и справедливости.</div>
  <div>Наш фонд вырос из общественного движения, возникшего в конце 2004 года как реакция на чудовищную ситуацию с отказниками - детьми, оставшимися без заботы своих родителей и помощи государства, вынужденными проживать свою маленькую жизнь в больничных палатах. В 2007 году был зарегистрирован благотворительный фонд «Волонтеры в помощь детям-сиротам». </div>
<router-outlet></router-outlet> 