.carousel {
  width: 60%;
  margin: auto;
  padding: 0px 0px 20px 20px;
}
.pages {
  padding: 15px;
  padding-right: 40px;
  text-align: justify;
}
ul {
  text-align: justify;
}

li {
  padding-top: 10px;
}

