.sgrid-N {
  background-color: white;
  min-height: 1px;
  padding-right: 20px;
  padding-left: 20px;
}

.count {
  padding-top: 40px;
}

p.num {
  color: #65adc1;
}

.mx-auto {
  margin-top: 40px;
  margin-bottom: -50px;
  height: 150px;
}

#right { text-align: right; }

$gray: #bbbbbb;

* {
  font-family: 'Roboto', sans-serif;
}

.container {
  height: 40px;
  text-align: center;
}

.btn {
  color: #65adc1; /* Text color */
  background: transparent; /* Remove background color */
  border: 2px solid #65adc1; /* Border thickness, line style, and color */
  border-radius: 70px; /* Adds curve to border corners */
  text-decoration: none;
  text-transform: uppercase; /* Make letters uppercase */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}
.btn1 {
  background-color: white;
  color: black;
  border: 2px solid #65adc1;
}
.btn1:hover {
  background-color: #65adc1;
  color: white;
}

b {
  outline:none;
  height: 40px;
  text-align: center;
  width: 130px;
  border-radius:100px;
  background: #fff;
  border: 2px solid #65adc1;
  color: #65adc1;
  letter-spacing:1px;
  text-shadow:0;
  font:{
    size:12px;
    weight:bold;
  }
  cursor: pointer;
  transition: all 0.25s ease;

  &:active {
    letter-spacing: 2px ;
  }
  &:after {
    content:"";
  }
}
.onclic {
  width: 10px !important;
  height: 70px !important;
  border-radius: 50% !important;
  border-color:$gray;
  border-width:4px;
  font-size:0;
  border-left-color: #65adc1;
  animation: rotating 2s 0.25s linear infinite;
  &:hover {
    color: dodgerblue;
    background: white;
  }
}
.validate {
  content:"";
  font-size:16px;
  color: black;
  background: dodgerblue;
  border-radius: 50px;
  &:after {
    font-family:'FontAwesome';
    content:" done \f00c";
  }
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
