<nav class="nav nav-pills flex-column flex-sm-row sgrid-N">
  <div class="sticky-top text">  <a routerLink=""><img src="../../assets/img/logo.png"></a>  <a routerLink=""><img src="../../assets/img/В твоих руках.png"></a> </div>
  <div class="mx-auto" style="width: 200px;">
    <div class="container">
      <a routerLink="/requisites" routerLinkActive="active"><button id="button" class="btn btn1">Пожертвовать</button></a>
    </div>
  </div>

  <div class="count" id="right">2 040 223 рублей вы пожертвовали в августе<br />на помощь детям </div>
</nav>
